*.cache
*.suo
*.resources
bin/
packages/

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
*.CopyComplete
*.p7s
DialogueEditor.zip
*.pfx
publish/Application Files/DialogueEditor_1_0_0_0/DialogueEditor.exe.deploy
publish/Application Files/DialogueEditor_1_0_0_0/Newtonsoft.Json.dll.deploy
